   <!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 dp-delivery-title">Complete Orders</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
  </div>

  <!-- Content Row -->
  <div class="row m-0">
    <div class="col-lg-12">
    <!-- DataTales Example -->
  <div class="card mb-2">
    <!-- <div class="card-header py-3"> -->
     <!-- <h6 class="m-0 font-weight-bold text-primary"></h6> -->
    <!-- </div> -->
    <div class="align-items-center">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Name</th>
              <th scope="col">Delivery Address</th>
              <th scope="col">Mobile</th>
              <th scope="col">Payment Mode</th>
              <th scope="col">Dealer Name</th>
              <th scope="col">Full-Info</th>
            </tr>						
          </thead>
          <tfoot>
            
          </tfoot>
          <tbody>
            <tr>
              <td>100034284</td>
              <td>Mahesh</td>
              <td>Ligampally, Hyd</td>
              <td>9987483456</td>
              <td>Cash on Delivery</td>
              <td>M.R.D</td>
              <td><a class="" href="#" data-toggle="modal" data-target="#">
                <i class="fa fa-file ml-4" aria-hidden="true"></i>
            </a></td>
            </tr>
            <tr>
              <td>100034281</td>
              <td>Kiran</td>
              <td>Jubliee Hills, Hyd</td>
              <td>9867547210</td>
              <td>Cash on Delivery</td>
              <td>V.R</td>
              <td><a class="" href="#" data-toggle="modal" data-target="#">
                <i class="fa fa-file ml-4" aria-hidden="true"></i>
            </a></td>
            </tr>
            <tr>
              <td>10003428</td>
              <td>Malik</td>
              <td>Madhapur, Hyd</td>
              <td>9874536721</td>
              <td>Cash on Delivery</td>
              <td>M.R</td>
              <td><a class="" href="#" data-toggle="modal" data-target="#">
                <i class="fa fa-file ml-4" aria-hidden="true"></i>
            </a></td>
            </tr>
            
            
          </tbody>
        </table>
      </div>
    </div>			
  </div><!-- card end-->              
  </div>
  </div>
