<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Address</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
  </div>
 <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Home</h6>
    </div>
    <div class="card-body">
      <p><span>Address:</span><span>81-2, Vinaynagar, Golkonda chef</span></p>
      <p><span>City:</span><span>Hyderabad, 500033</span></p>
      <p><span>State:</span><span>Telangana</span></p>
      <p><span>Mobile:</span><span>9978634528</span></p>
    </div>
  </div>

   <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Office</h6>
    </div>
    <div class="card-body">
        <p><span>Address:</span><span>2-12, venakatanagar, Uppal</span></p>
        <p><span>City:</span><span>Hyderabad, 500036</span></p>
        <p><span>State:</span><span>Telangana</span></p>
        <p><span>Mobile:</span><span>9954634526</span></p>
      </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-green mr-1">
        Add Address
        </button>
  </div>