.box {
    position: relative;
  }
  .ribbon {
    width: 55px;
    height: 55px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #4e73df;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 115px;
    padding: 0px 0;
    background-color: #4e73df;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    text-align: center;
    font-size: 11px;
  }
  
  /* top left*/
  .ribbon-top-left {
    top: -10px;
    left: -10px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -24px;
    top: 14px;
    transform: rotate(-45deg);
  }
  