<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Saved Address</h1>
        <button (click)="show()" class="d-none d-sm-inline-block btn btn-sm btn-green shadow-sm">Add New Address</button>
    </div>
    <div class="row">
        <div class="col-xl-4 col-md-6 col-sm-6">
            <div class="card shadow mb-4 box">
                <div class="ribbon ribbon-top-left"><span>Default</span></div>
                <div class="card-header py-2">
                    <div class="d-sm-flex justify-content-between">
                        <h6 class="m-0 font-weight-bold">Home</h6>
                        <a class="d-none d-sm-inline-block"><i class="fa fa-edit fa-sm mr-3"></i> <i
                                class="fa fa-trash fa-sm"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>Suresh</p>
                    <p><span>Address: </span>&nbsp;<span>81-2, vinaynagar, golkonda chef</span></p>
                    <p><span>City: </span>&nbsp;<span>Hyderabad, 500033</span></p>
                    <p><span>State: </span>&nbsp;<span>Telangana</span></p>
                    <p><span>Mobile: </span>&nbsp;<span>9978634528</span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-2">
                    <div class="d-sm-flex justify-content-between">
                        <h6 class="m-0 font-weight-bold">Office</h6>
                        <a class="d-none d-sm-inline-block"><i class="fa fa-edit fa-sm mr-3"></i> <i
                                class="fa fa-trash fa-sm"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>Kiran</p>
                    <p><span>Address: </span>&nbsp;<span>2-12, venakatanagar, uppal</span></p>
                    <p><span>City: </span>&nbsp;<span>Hyderabad, 500036</span></p>
                    <p><span>State: </span>&nbsp;<span>Telangana</span></p>
                    <p><span>Mobile: </span>&nbsp;<span>9954634526</span></p>
                </div>
            </div>
        </div>
    </div>
</div>