 <!-- Page Heading -->
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 dp-delivery-title">Cancel Orders</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
  </div>

  <!-- Content Row -->
  <div class="row m-0">
    <div class="col-lg-12">
    <!-- DataTales Example -->
  <div class="card mb-2">
    <div class="align-items-center">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Name</th>
              <th scope="col">Delivery Date</th>
              <th scope="col">Delivery Address</th>
              <th scope="col">Dealer Name</th>
              <th scope="col">Status</th>
              <th scope="col">Full-Info</th>
            </tr>						
          </thead>
          <tfoot>
            
          </tfoot>
          <tbody>
            <tr *ngFor="let order of cancelledOrders">
              <td>{{order.ORDER_ID}}</td>
              <td>{{order.CONSUMER_NAME}}</td>
              <td>12/16/2019</td>
              <td>Jubliee Hills, Hyd</td>
              <td>{{order.DEALER_NAME}}</td>
              <td>{{order.ORDER_STATUS}}</td>
              <td><span class="order-info" (click)="orderInformation(order)" data-toggle="modal" data-target="#logoutModal">
                <i class="fa fa-file ml-4" aria-hidden="true"></i>
              </span></td>
            </tr>            
          </tbody>
        </table>
      </div>
    </div>			
  </div><!-- card end-->
  </div>
  </div>