<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 dp-delivery-title">Contact Us</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <!-- Content Row -->
    <div class="row justify-content-center">
        <!-- DataTales Example -->
        <div class="card shadow mb-2 col-lg-6">
            <!-- <div class="card-header py-3"> -->
            <!-- <h6 class="m-0 font-weight-bold text-primary"></h6> -->
            <!-- </div> -->
            <div class="card-body">
                <div class="mb-4 row">
                    <div class="col-lg-12 text-center">
                        <h5>Hyderabad</h5>
                        <p><strong>PROBITY Fuels Pvt Ltd</strong> </p>
                        <p>Level 2, Oval Building, Plot No,<br>
                            Hyderabad-500 081<br>
                            Telangana, India
                        </p>
                        <br>
                        <p><strong>For Orders Related Queries :</strong></p>
                        <p style="color:green;">orders@dropdiesel.com</p>
                        <br>
                        <p><strong>For Business Related Queries :</strong></p>
                        <p style="color: green;">sales@dropdiesel.com</p>
                        <br>
                        <p><strong>Call Us :</strong> </p>
                        <p style="color: green;">+91 40 4346 1324</p>
                        <br>
                        <p><strong>* CHEQUES PAYABLE TO *</strong> </p>
                        <P>PROBITY Fuels Pvt Ltd</P>
                    </div>
                </div>
            </div>
        </div><!-- card end-->
    </div>
</div>
<!-- /.container-fluid -->