.dp-delivery-title{
	margin: 0 auto;
	color: #32a852;
}
.dp-delivery-title{
	border-bottom: 3px solid #FFA500;
	display: inline-block;
}
.map-column{
	margin: 0 auto;
}
.copyright h5{
	font-weight: 700;
	color: #555;
	display: initial;
	border-bottom: 3px solid #32a852;
}
.time-slot{
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	text-align: center;
}
.time-slot span{
	
}
.btn-dd{
	background-color: #32a852;
	color: #fff;
	margin:0 auto;
	display: block;
}
.db-btn{
	min-width: 12vw;
}
.order-links p{
	border: 1px solid #ddd;
    padding: 15px 12px;
    border-radius: 30px;
}
.order-links {
	min-width: 25vw;
}
.icon-span{
	padding: 6px 7px;
    background-color: #32a852;
	color: #fff;
    border-radius: 50px;
}
.lan-select{
	border: 0;
	width: 60%;
}
.btn-green {
	color: #fff;
	background-color: #1cc88a;
	border-color: #1cc88a;
}
// .btn-green {
// 	color: #fff;
// 	background-color: forestgreen;
// 	border-color: forestgreen;
// }