<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 dp-delivery-title">Future Orders</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
</div>

<!-- Content Row -->
<div class="row m-0">
    <!-- DataTales Example -->
    <div class="col-lg-12">
        <div class="card mb-2">
            <div class="align-items-center">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Delivery Address</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Payment Mode</th>
                                <th scope="col">Payment Status</th>

                                <th scope="col">Full-Info</th>
                            </tr>
                        </thead>
                        <tfoot>

                        </tfoot>
                        <tbody>
                            <tr *ngFor="let future of futureOrders">
                                <td>{{future.ORDER_ID}}</td>
                                <td>{{future.CONSUMER_NAME}}</td>
                                <td>31/03/2020</td>
                                <td>Gachibowli, Hyd</td>
                                <td>{{future.CUSTOMER_CONTACT_NUMBER}}</td>
                                <td>{{future.PAYMENT_MODE}}</td>
                                <td>{{future.PAYMENT_STATUS}}</td>
                                <td><span class="order-info" (click)="orderInformation(future)" data-toggle="modal"
                                        data-target="#logoutModal">
                                        <i class="fa fa-file fa-fw ml-4"></i>
                                    </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- card end-->
    </div>
</div>