<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 dp-delivery-title">Future Orders</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
</div>

<!-- Content Row -->
<div class="row m-0">
    <!-- DataTales Example -->
    <div class="col-lg-12">
        <div class="card mb-2">
            <div class="align-items-center">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Delivery Address</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Payment Mode</th>
                                <th scope="col">Payment Status</th>

                                <th scope="col">Full-Info</th>
                            </tr>
                        </thead>
                        <tfoot>

                        </tfoot>
                        <tbody>
                            <tr>
                                <td>100034284</td>
                                <td>Mahesh</td>
                                <td>31/03/2020</td>
                                <td>Gachibowli, Hyd</td>
                                <td>9987483456</td>
                                <td>Cash on Delivery</td>
                                <td>Not Paid</td>
                                <td><a class="" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fa fa-file fa-fw ml-4"></i>
                                    </a></td>
                            </tr>
                            <tr>
                                <td>100034283</td>
                                <td>Suresh</td>
                                <td>04/04/2020</td>
                                <td>Bachpally, Hyd</td>
                                <td>9989074352</td>
                                <td>Cash on Delivery</td>
                                <td>Not Paid</td>
                                <td><a class="" href="#" data-toggle="modal" data-target="#">
                                        <i class="fa fa-file fa-fw ml-4"></i>
                                    </a></td>
                            </tr>
                            <tr>
                                <td>100034281</td>
                                <td>Kumar</td>
                                <td>20/04/2020</td>
                                <td>Jubliee Hills, Hyd</td>
                                <td>9676532189</td>
                                <td>Cash on Delivery</td>
                                <td>Not Paid</td>
                                <td><a class="" href="#" data-toggle="modal" data-target="#">
                                        <i class="fa fa-file fa-fw ml-4"></i>
                                    </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- card end-->
    </div>
</div>