<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 dp-delivery-title">Assigned Orders</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
</div>

<!-- Content Row -->
<div class="row m-0">
    <!-- DataTales Example -->
    <div class="col-lg-12">
        <div class="card mb-2">
            <div class="align-items-center">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="" width="100%" cellspacing="0">
                        <thead>

                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Delivery Address</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Payment Mode</th>
                                <th scope="col">Payment Status</th>
                                <th scope="col">Delivery By</th>
                                <th scope="col">Dealer Name</th>
                                <th scope="col">Re-Assign-Orders</th>
                            </tr>
                        </thead>
                        <tfoot>

                        </tfoot>
                        <tbody>
                            <tr>
                                <td>100034284</td>
                                <td>Praveen</td>
                                <td>Jubliee Hills, Hyd</td>
                                <td>9987483456</td>
                                <td>Cash on Delivery</td>
                                <td>Not Paid</td>
                                <td>Kiran Sai</td>
                                <td>M.R.D</td>
                                <td>
                                    <div class="form-check ml-5">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>100034282-1</td>
                                <td>Mahesh</td>
                                <td>Gachibowli, Hyd</td>
                                <td>9988567876</td>
                                <td>Cash on Delivery</td>
                                <td>Not Paid</td>
                                <td>Suresh</td>
                                <td>My Home</td>
                                <td>
                                    <div class="form-check ml-5">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>100034282-2</td>
                                <td>Aditya</td>
                                <td>Jubliee Hills, Hyd</td>
                                <td>9949897969</td>
                                <td>Cash on Delivery</td>
                                <td>Not Paid</td>
                                <td>Kisan</td>
                                <td>V.R</td>
                                <td>
                                    <div class="form-check ml-5">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- card end-->
        <div class="text-center">
            <button type="button" class="btn btn-green">Re-Assign Orders</button>
        </div>
    </div>
</div>